extends layout

block content
  h1 Reading Plus Fitness Log
  p.lead At least it's not spreadsheets.
  hr
    
  .row
    .col-sm-8
      h3 Welcome to your log!
        
      if user !== undefined && user.email.endsWith('@readingplus.com')
        //- p Log entries created today: #{entriesToday}
        .btn-group.margin-top-md
          a.btn.btn-primary(href='/log/' + user.email) View/edit your log
          a.btn.btn-primary(href='/contest') View contest results
          
        .margin-top-lg
          h3 Today's entries:
          table.table
            thead
              tr
                th created at
                th user
                th activity
                th duration
                th points
            tbody
              each entry in entriesToday
                tr
                  td.local-ts(data-utc-ts=entry.created) Localizing time...
                  td  
                    a(href="/log/" + entry.user) #{entry.user.replace("@readingplus.com", "")}
                  td #{entry.activity}
                  if entry.durationUnit === "minute"
                    td #{entry.durationValue} min
                  else  
                    td
                  td #{entry.points}
        
      else  
        form.form-horizontal(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          a.btn.btn-google.btn-social(href='/auth/google')
            i.fa.fa-google-plus
            | Sign in with Google

  script
    include ../public/js/home.js
