extends layout

block content
  h1 Reading Plus Fitness Log
  p.lead At least it's not spreadsheets.
  hr
    
  .row
    .col-sm-6
      h3 Welcome to your log!
        
      if user !== undefined && user.email.endsWith('@readingplus.com')
        //- p Log entries created today: #{entriesToday}
        .btn-group.margin-top-md
          a.btn.btn-primary(href='/log/' + user.email) View/edit your log
          a.btn.btn-primary(href='/contest') View contest results
          
        .margin-top-lg
          h3 Today's entries:
          table.table
            thead
              tr
                th user
                th activity
                th points
            tbody
              each entry in entriesToday
                tr
                  td  
                    a(href="/log/" + entry.user) #{entry.user}
                  td #{entry.activity}
                  td #{entry.points}
        
      else  
        form.form-horizontal(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          a.btn.btn-google.btn-social(href='/auth/google')
            i.fa.fa-google-plus
            | Sign in with Google

      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
