extends ../layout

block content
  h2 Contests
  
  hr
    
  each contest in contests
    h3 #{contest.name} (#{contest.startDateFormatted} to #{contest.endDateFormatted})
    
    .row
      .col-md-12
        h4 Team Results:
        table.table
          thead
            tr
              th team rank
              th team
              th captain
              th team points
          tbody
            each team, index in contest.teams
              tr
                td #{index + 1}
                td #{team.name}
                td 
                  a(href="/log/" + team.captain) #{team.captain.replace("@readingplus.com", "")}
                td #{team.points}
      
    .row
      .col-md-12
        h4 User Results:
        table.table
          thead
            tr
              th user rank
              th user
              th team
              th user points
          tbody
            each user, index in contest.users
              if user.isCompetitor
                tr
                  td #{index + 1}
                    
                  td 
                    a(href="/log/" + user.name) #{user.name.replace("@readingplus.com", "")}
                  td #{user.team}
                  td #{user.points}
    hr
